

@use "../util" as u;

.about {
    margin-bottom: u.em(50);
    
    &__title {
        font-weight: 600;
        font-size: u.rem(20);
    }

    &__content-container {
        display: flex;
        flex-direction: column;
        gap: u.em(20);
    }
}