@use "../util" as u;

.hero {
    display: flex;
    justify-content: space-around;
    gap: u.em(10);
    padding-inline: u.em(20);
    margin-inline: var(--body-padding);

    &__image {
        background: url("../../public/images/Hero-Image.webp");
        width: u.em(800);
        height: u.em(600);
        max-width: u.em(800);
        background-position-x: right;
        background-position-y: 40%;
        max-height: u.em(400);
        border-radius: u.em(10);
    }

    &__content {
        width: 60%;

        &__text {
            width: 50%;
        }
    }
}